/*Slider*/
#carousel{
  text-align:center;
  margin: 50px 0px;
}
.slider{
  padding-top: 2% !important;
}

/* Background Vedio*/
.Container {
    position: relative;
    max-width: 200vh;
    height: 93.95vh;
    overflow: hidden;
    margin-bottom: 0px;
}
.Video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .Container{
    width: 100vw;
    height: 90vh;
  }
  .SecondExample{
    width: 97vw !important;
  }
  .slider{
    padding-top: 6% !important;
  }
}  
/* Add some content at the bottom of the video/page */
.Content {
  position: absolute;
  top: 0;
  background-color: rgba(43, 26, 26, 0.4);
  color:#f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.SubContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  }
.SubContent p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.SubContent button {
    font-weight: 600;
    margin-top: 30px;
    color: #f1f1f1;
    border: #f1f1f1 1px solid;
    padding: 20px 25px;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.8rem;
    width: 150px;
    border-radius: 3px;
}
.SubContent button:hover {
    background-color: #f1f1f1;
    color: #000000c0;
}

.SubContent img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 20px 0px 20px 10px;
}